git+https://github.com/khazhyk/discord.py@master#egg=discord.py[voice]
#git+https://github.com/Rapptz/discord.py@master#egg=discord.py[voice]
aiohttp
watchdog
psutil
lru-dict
#osuapi
git+https://github.com/khazhyk/osuapi
ruamel.yaml
tabulate
humanize
numpy

# debug
objgraph
gprof2dot

# privatebin
git+https://github.com/r4sas/PBinCLI#egg=PBinCLI

# redis
aioredis
hiredis

# database
asyncpg

# fun
Pillow>=6.2.0

# metrics
prometheus_client

# minecraft
mcstatus

# overwatch
git+https://github.com/khazhyk/pachimari

# voice
youtube_dl

pip
