git+https://github.com/khazhyk/discord.py@master#egg=discord.py[voice]
#git+https://github.com/Rapptz/discord.py@master#egg=discord.py[voice]
aiohttp
watchdog
psutil
lru-dict
#osuapi
git+https://github.com/khazhyk/osuapi
ruamel.yaml
tabulate
humanize
numpy
Pillow

# debug
objgraph
gprof2dot

# zerobin
sjcl
pycryptodome

# redis
aioredis
hiredis

# database
asyncpg

# fun
Pillow

# metrics
prometheus_client

# minecraft
mcstatus

# overwatch
git+https://github.com/khazhyk/pachimari

# voice
youtube_dl

pip
