git+https://github.com/khazhyk/discord.py@rewrite
#git+https://github.com/Rapptz/discord.py@rewrite
aiohttp<3
watchdog
psutil
lru-dict
osuapi
ruamel.yaml
tabulate
humanize
numpy
Pillow

# debug
objgraph
gprof2dot

# zerobin
sjcl
pycryptodome

# redis
aioredis
hiredis

# database
asyncpg

# fun
Pillow

# metrics
prometheus_client

# minecraft
mcstatus

# overwatch
git+https://github.com/khazhyk/pachimari

pip<=10.0
